.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
}
.containerPourBg {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 8px;
}
.section1 {
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 80px;
}
.section1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.section1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    background: var(--token-Gd9vR8G21);
    min-width: 0;
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 0px;
  min-width: 0;
}
.column1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column1 > :global(.__wab_flex-container) > *,
.column1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column1 > :global(.__wab_flex-container) > picture > img,
.column1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 > :global(.__wab_flex-container) > *,
  .column1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column1 > :global(.__wab_flex-container) > picture > img,
  .column1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.h1__eqA1W {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 86px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__eqA1W {
    color: var(--token-tEyO5nrum);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    text-align: center;
    letter-spacing: normal;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.text__qozMv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__qozMv {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.btn__ku3P:global(.__wab_instance) {
  position: relative;
}
.column2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column2 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.img__ctW2U {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__ctW2U > picture > img {
  object-fit: cover;
}
.img__ctW2U > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ctW2U {
    position: relative;
    object-fit: cover;
    max-width: 100%;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ctW2U > picture > img {
    object-fit: cover;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__ctW2U > .__wab_img-spacer > img {
    object-fit: cover;
  }
}
.columns__kXd6X {
  flex-direction: row;
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  min-width: 0;
  padding: 80px;
}
.columns__kXd6X > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
}
.columns__kXd6X > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 80px) * 8 / 12);
}
.columns__kXd6X > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 80px) * 4 / 12);
}
.columns__kXd6X > :global(.__wab_flex-container) > *,
.columns__kXd6X > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__kXd6X > :global(.__wab_flex-container) > picture > img,
.columns__kXd6X
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kXd6X {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 80px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kXd6X > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__kXd6X > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 80px) * 12 / 12);
  }
}
.column__qNtAo {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__jNzaM {
  display: block;
  position: relative;
  width: 100%;
  height: 550px;
  max-width: 100%;
  background: url("/plasmic/tooly_services/images/rectanglepng.png") top 50% left 50% / 100% auto no-repeat,
    rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 20px;
  padding: 0px;
}
.column__xjrI0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__xjrI0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column__xjrI0 > :global(.__wab_flex-container) > *,
.column__xjrI0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xjrI0 > :global(.__wab_flex-container) > picture > img,
.column__xjrI0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text__f959D {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__xc3Pv {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xc3Pv {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--token-tEyO5nrum);
    line-height: 22px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.btn__u6G24:global(.__wab_instance) {
  position: relative;
}
.columns__z8Nyn {
  flex-direction: row;
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  min-width: 0;
  padding: 80px;
}
.columns__z8Nyn > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
}
.columns__z8Nyn > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 80px) * 8 / 12);
}
.columns__z8Nyn > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 80px) * 4 / 12);
}
.columns__z8Nyn > :global(.__wab_flex-container) > *,
.columns__z8Nyn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__z8Nyn > :global(.__wab_flex-container) > picture > img,
.columns__z8Nyn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z8Nyn {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 80px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z8Nyn > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__z8Nyn > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 80px) * 12 / 12);
  }
}
.column__nodjz {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__a5Ot7 {
  display: block;
  position: relative;
  width: 100%;
  height: 550px;
  max-width: 100%;
  background: url("/plasmic/tooly_services/images/rectangle33Png.png") top 50% left 50% / auto 100% no-repeat;
  flex-shrink: 0;
  padding: 0px;
}
.column__n1Lpk {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__n1Lpk > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column__n1Lpk > :global(.__wab_flex-container) > *,
.column__n1Lpk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__n1Lpk > :global(.__wab_flex-container) > picture > img,
.column__n1Lpk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text__gGqrt {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text___38256 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text___38256 {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--token-tEyO5nrum);
    line-height: 22px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.btn__qZ0I:global(.__wab_instance) {
  position: relative;
}
.columns__nRx4U {
  flex-direction: row;
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  min-width: 0;
  padding: 80px;
}
.columns__nRx4U > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
}
.columns__nRx4U > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 80px) * 8 / 12);
}
.columns__nRx4U > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 80px) * 4 / 12);
}
.columns__nRx4U > :global(.__wab_flex-container) > *,
.columns__nRx4U > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nRx4U > :global(.__wab_flex-container) > picture > img,
.columns__nRx4U
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nRx4U {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 80px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nRx4U > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nRx4U > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 80px) * 12 / 12);
  }
}
.column__hbKc7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 8px;
  padding-bottom: 8px;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
}
.freeBox__oMQi6 {
  display: block;
  position: relative;
  width: 100%;
  height: 550px;
  max-width: 100%;
  background: url("/plasmic/tooly_services/images/adobeStock431987802Preview1Png.png") top 50% left 50% / 100% auto no-repeat;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 0px;
}
.column__its3R {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__its3R > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column__its3R > :global(.__wab_flex-container) > *,
.column__its3R > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__its3R > :global(.__wab_flex-container) > picture > img,
.column__its3R
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text___2XYq3 {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__rNjTm {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rNjTm {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--token-tEyO5nrum);
    line-height: 22px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.btn__ekacE:global(.__wab_instance) {
  position: relative;
}
.columns__nmoLj {
  flex-direction: row;
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  min-width: 0;
  padding: 80px;
}
.columns__nmoLj > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 80px);
  width: calc(100% + 80px);
}
.columns__nmoLj > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * 80px) * 6 / 12);
}
.columns__nmoLj > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * 80px) * 6 / 12);
}
.columns__nmoLj > :global(.__wab_flex-container) > *,
.columns__nmoLj > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__nmoLj > :global(.__wab_flex-container) > picture > img,
.columns__nmoLj
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 80px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nmoLj {
    width: 100%;
    height: auto;
    flex-direction: row;
    display: flex;
    position: relative;
    flex-shrink: 1;
    min-width: 0;
    padding: 80px 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nmoLj > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__nmoLj > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * 80px) * 12 / 12);
  }
}
.column__g8Hr {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__g8Hr > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column__g8Hr > :global(.__wab_flex-container) > *,
.column__g8Hr > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__g8Hr > :global(.__wab_flex-container) > picture > img,
.column__g8Hr
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text__bgva3 {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__edUmW {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__edUmW {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: var(--token-tEyO5nrum);
    line-height: 22px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.btn__xZlKw:global(.__wab_instance) {
  position: relative;
}
.column__gHOwV {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 0px;
}
.freeBox__tj30F {
  display: block;
  position: relative;
  width: 100%;
  height: 550px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 20px;
  padding: 0px;
}
.freeBox__s7Qnq {
  display: block;
  position: absolute;
  width: 450px;
  height: 450px;
  max-width: 100%;
  background: url("/plasmic/tooly_services/images/pexelsYanKrukov88672471Png.png") top 50% left 50% / 100% auto repeat,
    rgba(68, 192, 255, 0.2);
  left: 62px;
  top: 31px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);
  border-radius: 8px;
  padding: 8px;
}
.freeBox__h6XWi {
  display: block;
  position: absolute;
  width: 300px;
  height: 300px;
  max-width: 100%;
  background: url("/plasmic/tooly_services/images/adobeStock429278112Preview1Png.png") top 50% left 50% / 80% auto no-repeat,
    var(--token-Uy3IS1uls);
  left: 166px;
  top: 228px;
  transform: rotateX(0deg) rotateY(0deg) rotateZ(30deg);
  border-radius: 8px;
  padding: 8px;
}
.freeBox__hym7D {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Uy3IS1uls);
  min-width: 0;
  padding: 8px;
}
.freeBox__x2Mg8 {
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: var(--token-Uy3IS1uls);
  min-width: 0;
  padding: 80px;
}
.freeBox__c9P {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Uy3IS1uls);
  min-width: 0;
  padding: 41px 40px;
}
.text__dk24V {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1000px;
  text-align: left;
  min-width: 0;
}
.freeBox__dHjn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Uy3IS1uls);
  min-width: 0;
  padding: 0px 40px;
}
.columns__iriid {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: wrap;
  min-width: 0;
  padding: 8px;
}
.columns__iriid > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__iriid > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__iriid > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__iriid > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iriid {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__iriid > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__jlhQ6 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.column__jlhQ6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__jlhQ6 > :global(.__wab_flex-container) > *,
.column__jlhQ6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__jlhQ6 > :global(.__wab_flex-container) > picture > img,
.column__jlhQ6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__eHmQ4 {
  display: flex;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: linear-gradient(#efc4ce, #efc4ce), #44c0ff33;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  padding: 0px;
}
.img__fyFc5 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  left: auto;
  top: auto;
}
.img__fyFc5 > picture > img {
  object-fit: cover;
}
.img__fyFc5 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__aeQz0 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text__lBm2W {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.column___5ZZ7I {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column___5ZZ7I > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___5ZZ7I > :global(.__wab_flex-container) > *,
.column___5ZZ7I > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___5ZZ7I > :global(.__wab_flex-container) > picture > img,
.column___5ZZ7I
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__zCxQt {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__d2QGb {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__d2QGb > picture > img {
  object-fit: cover;
}
.img__d2QGb > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__gKsEe {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text__d30Xl {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.column___3S2G0 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column___3S2G0 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___3S2G0 > :global(.__wab_flex-container) > *,
.column___3S2G0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___3S2G0 > :global(.__wab_flex-container) > picture > img,
.column___3S2G0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__qwCox {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__qzVu6 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__qzVu6 > picture > img {
  object-fit: cover;
}
.img__qzVu6 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__t76M5 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  margin-bottom: 0px;
  min-width: 0;
}
.text__lv9R3 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.column__cwtaF {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column__cwtaF > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__cwtaF > :global(.__wab_flex-container) > *,
.column__cwtaF > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__cwtaF > :global(.__wab_flex-container) > picture > img,
.column__cwtaF
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__siFnu {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__tWkaw {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__tWkaw > picture > img {
  object-fit: cover;
}
.img__tWkaw > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__lqpwP {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.text__gNo6I {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: left;
  min-width: 0;
}
.freeBox__nnsb7 {
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background: none;
  min-width: 0;
  padding: 80px;
}
.freeBox__xpYiH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8Fa4aMist);
  min-width: 0;
  padding: 0px 0px 80px;
}
.text__cSDE {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 600px;
  height: auto;
  max-width: 1000px;
  text-align: left;
}
.freeBox___848J5 {
  flex-direction: row;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 0px;
}
.freeBox___848J5 > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - 40px);
  width: calc(100% + 40px);
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.freeBox___848J5 > :global(.__wab_flex-container) > *,
.freeBox___848J5 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___848J5 > :global(.__wab_flex-container) > picture > img,
.freeBox___848J5
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 40px;
  margin-top: 40px;
}
.card1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Uy3IS1uls);
  border-radius: 40px;
  padding: 32px;
}
.freeBox__krptU {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.containerPhoto {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  height: 120px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
}
.img__gdvpc {
  position: relative;
  object-fit: fill;
  max-width: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  margin: 20px;
}
.img__gdvpc > picture > img {
  object-fit: fill;
}
.img__gdvpc > .__wab_img-spacer > img {
  object-fit: fill;
}
.freeBox__ka4AH {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  margin-left: 6px;
  padding: 8px 16px;
}
.text__ltqVt {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__aekrV {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__dn6AU {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 8px;
  min-width: 0;
}
.columns__ekXte {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__ekXte > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ekXte {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__ekXte > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__kiGYg {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__kiGYg > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.column__kiGYg > :global(.__wab_flex-container) > *,
.column__kiGYg > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__kiGYg > :global(.__wab_flex-container) > picture > img,
.column__kiGYg
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__pH1Jf {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 300px;
  text-align: left;
  min-width: 0;
}
.card12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Uy3IS1uls);
  border-radius: 40px;
  padding: 32px;
}
.freeBox__lm6Li {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.containerPhoto2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  height: 120px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
}
.img___5R4KX {
  position: relative;
  object-fit: fill;
  max-width: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  margin: 20px;
}
.img___5R4KX > picture > img {
  object-fit: fill;
}
.img___5R4KX > .__wab_img-spacer > img {
  object-fit: fill;
}
.freeBox__stEml {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  margin-left: 6px;
  padding: 8px 16px;
}
.text__moXyW {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__nnyxV {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__pWfWo {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 8px;
  min-width: 0;
}
.columns__lwLFx {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__lwLFx > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lwLFx {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__lwLFx > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__eLnMx {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__eLnMx > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.column__eLnMx > :global(.__wab_flex-container) > *,
.column__eLnMx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__eLnMx > :global(.__wab_flex-container) > picture > img,
.column__eLnMx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__ijyEd {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 300px;
  text-align: left;
  min-width: 0;
}
.card13 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: var(--token-Uy3IS1uls);
  border-radius: 40px;
  padding: 32px;
}
.freeBox__slnTs {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: none;
  min-width: 0;
  padding: 8px;
}
.containerPhoto3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 120px;
  height: 120px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);
  flex-shrink: 0;
  border-radius: 4px;
  padding: 0px;
}
.img___6V6IU {
  position: relative;
  object-fit: fill;
  max-width: none;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
  border-radius: 4px;
  margin: 20px;
}
.img___6V6IU > picture > img {
  object-fit: fill;
}
.img___6V6IU > .__wab_img-spacer > img {
  object-fit: fill;
}
.freeBox__tHOi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: none;
  margin-left: 6px;
  padding: 8px 16px;
}
.text__a4Iq9 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__bxZUk {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rm6U0 {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-top: 8px;
  min-width: 0;
}
.columns__rSGs {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__rSGs > :nth-child(1n + 1) {
  width: calc((100% - 1 * 0px) * 12 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rSGs {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    min-width: 0;
    padding: 8px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rSGs > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__bEo5Q {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px;
}
.column__bEo5Q > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.column__bEo5Q > :global(.__wab_flex-container) > *,
.column__bEo5Q > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bEo5Q > :global(.__wab_flex-container) > picture > img,
.column__bEo5Q
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
.text__a7Rzo {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 300px;
  text-align: left;
  min-width: 0;
}
.freeBox___19P {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 8px;
}
.section2 {
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 80px;
}
.section2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 7 / 12);
}
.section2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 5 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    display: flex;
    position: relative;
    align-items: stretch;
    flex-shrink: 1;
    background: var(--token-Gd9vR8G21);
    min-width: 0;
    padding: 40px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column4 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-column-gap: 0px;
    min-width: 0;
    padding: 8px;
  }
}
.freeBox__tRePk {
  display: block;
  position: relative;
  width: 100%;
  height: 700px;
  max-width: 100%;
  background: none;
  min-width: 0;
  flex-shrink: 0;
  padding: 8px;
}
.freeBox__vrPyv {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(-15deg);
  display: block;
  position: absolute;
  width: 500px;
  height: 500px;
  max-width: 100%;
  background: url("/plasmic/tooly_services/images/img09441Png.png") top 50% left 50% / 100% auto no-repeat,
    rgba(68, 192, 255, 0.2);
  left: 96px;
  top: 106px;
  border-radius: 20px;
  padding: 8px;
}
.column3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 80px;
  min-width: 0;
}
.column3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column3 > :global(.__wab_flex-container) > *,
.column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column3 > :global(.__wab_flex-container) > picture > img,
.column3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column3 {
    display: flex;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: auto;
    max-width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column3 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    min-width: 0;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column3 > :global(.__wab_flex-container) > *,
  .column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column3 > :global(.__wab_flex-container) > picture > img,
  .column3
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.h1__qtHk {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  letter-spacing: normal;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__qtHk {
    color: var(--token-tEyO5nrum);
    font-family: "Inter", sans-serif;
    font-weight: 900;
    font-size: 30px;
    line-height: 86px;
    text-align: center;
    letter-spacing: normal;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.text__hYpHy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__hYpHy {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
    position: relative;
    width: 100%;
    height: auto;
    max-width: 800px;
    min-width: 0;
  }
}
.btn__fqCU:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
