.root {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: auto;
  height: auto;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  position: relative;
  border-radius: 2px;
  padding: 24px 36px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    padding: 12px 24px;
  }
}
.roottype_primary {
  background: var(--token-G3bw5jr37);
}
.roottype_secondary {
  background: #1d2124;
}
.roottype_tertiary {
  background: none;
  border: 1px solid #1d2124;
}
.rootsize__2 {
  padding: var(--token-iyUTOBaKR) var(--token--KFj8yiqd);
}
.freeBox {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  display: flex;
  flex-direction: row;
  min-width: 0;
}
.slotTargetChildren {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
}
.slotTargetChildrentype_tertiary {
  color: #1d2124;
}
.slotTargetChildrensize__2 {
  font-size: 16px;
}
