.root {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  justify-content: flex-start;
  align-items: center;
  background: #ffffff;
  min-width: 0;
  min-height: 0;
}
.navbar:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.container {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 0px;
}
.columns {
  flex-direction: row;
  max-width: 1600px;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-shrink: 1;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 80px 80px var(--token-XGdqdVl4H);
}
.columns > :global(.__wab_flex-container) {
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: stretch;
  min-width: 0;
  margin-left: calc(0px - var(--token-FaIRKTSiC));
  width: calc(100% + var(--token-FaIRKTSiC));
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--token-FaIRKTSiC)) * 4 / 12);
}
.columns > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--token-FaIRKTSiC)) * 8 / 12);
}
.columns > :global(.__wab_flex-container) > *,
.columns > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns > :global(.__wab_flex-container) > picture > img,
.columns
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: var(--token-FaIRKTSiC);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns {
    width: 100%;
    height: auto;
    flex-direction: row;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--token-FaIRKTSiC)) * 12 / 12);
  }
}
.column__sSo9G {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__sSo9G > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - var(--token-U3MQLo7xX));
  height: calc(100% + var(--token-U3MQLo7xX));
}
.column__sSo9G > :global(.__wab_flex-container) > *,
.column__sSo9G > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__sSo9G > :global(.__wab_flex-container) > picture > img,
.column__sSo9G
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: var(--token-U3MQLo7xX);
}
.text__kfH4 {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__xx2Tj {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__qCpTk {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.span___3PuJl {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
}
.span__zMrZx {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
}
.span__yLwy {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
}
.img {
  display: block;
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background: url("/plasmic/tooly_services_website/images/adobeStock271046895Png.jpeg") top 50% left 50% / auto 100% no-repeat,
    var(--token-Gd9vR8G21);
  min-width: 0;
  min-height: 0;
  padding: 8px;
}
.column___1CdQt {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___1CdQt > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 20px);
  height: calc(100% + 20px);
}
.column___1CdQt > :global(.__wab_flex-container) > *,
.column___1CdQt > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___1CdQt > :global(.__wab_flex-container) > picture > img,
.column___1CdQt
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 20px;
}
.field__d8S2X:global(.__wab_instance) {
  position: relative;
}
.field___3ZvBd:global(.__wab_instance) {
  position: relative;
}
.field__q9Kje:global(.__wab_instance) {
  position: relative;
}
.span__tjJge {
  color: var(--token-G3bw5jr37);
}
.field__mQ9I:global(.__wab_instance) {
  position: relative;
}
.span__bZwSz {
  color: var(--token-G3bw5jr37);
}
.field__jP4I9:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
