.root {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  min-width: 0;
  min-height: 0;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.section1 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 40px;
}
.section1 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 4 / 12);
}
.section1 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 8 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section1 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column1 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column1 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column1 > :global(.__wab_flex-container) > *,
.column1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column1 > :global(.__wab_flex-container) > picture > img,
.column1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 20px);
    height: calc(100% + 20px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .column1 > :global(.__wab_flex-container) > *,
  .column1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .column1 > :global(.__wab_flex-container) > picture > img,
  .column1
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 20px;
  }
}
.h1 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 86px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1 {
    font-size: 30px;
    text-align: center;
    letter-spacing: normal;
  }
}
.text__xyoZo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__xyoZo {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
.btn__kZn96:global(.__wab_instance) {
  position: relative;
}
.column2 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column2 {
    display: flex;
  }
}
.img__np82R {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__np82R > picture > img {
  object-fit: cover;
}
.img__np82R > .__wab_img-spacer > img {
  object-fit: cover;
}
.section2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Uy3IS1uls);
  min-width: 0;
  padding: 80px 40px;
}
.section2 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.section2 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column4 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__htHu3 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img__htHu3 > picture > img {
  object-fit: cover;
}
.img__htHu3 > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__htHu3 {
    margin: 0px 0px 40px;
  }
}
.column3 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.column3 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column3 > :global(.__wab_flex-container) > *,
.column3 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column3 > :global(.__wab_flex-container) > picture > img,
.column3
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column3 > :global(.__wab_flex-container) {
    justify-content: flex-start;
    align-items: center;
  }
}
.h2__iLkWy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 40px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__iLkWy {
    text-align: center;
    font-size: 21px;
    letter-spacing: normal;
  }
}
.text__jMPxg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__jMPxg {
    text-align: center;
    font-size: 16px;
  }
}
.btn___5Ppy9:global(.__wab_instance) {
  position: relative;
}
.section3 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-8Fa4aMist);
  min-width: 0;
  padding: 80px 40px;
}
.section3 > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.section3 > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .section3 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    padding: 40px 20px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .section3 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column6 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 40px;
}
.column6 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.column6 > :global(.__wab_flex-container) > *,
.column6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column6 > :global(.__wab_flex-container) > picture > img,
.column6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 0px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column6 {
    padding: 0px;
  }
}
.freeBox__z7Xjc {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: #ffe924;
  margin-right: 0px;
  min-width: 0;
  border-radius: 40px;
  padding: 40px;
}
.freeBox__z7Xjc > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.freeBox__z7Xjc > :global(.__wab_flex-container) > *,
.freeBox__z7Xjc > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z7Xjc > :global(.__wab_flex-container) > picture > img,
.freeBox__z7Xjc
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z7Xjc {
    background: #ffe92400;
    display: flex;
    padding: 0px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__z7Xjc > :global(.__wab_flex-container) {
    justify-content: center;
    align-items: center;
  }
}
.h2__yyAfJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 40px;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h2__yyAfJ {
    text-align: center;
    font-size: 21px;
    letter-spacing: normal;
  }
}
.text__ydF5T {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: 20px;
  left: auto;
  top: auto;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__ydF5T {
    text-align: center;
    font-size: 16px;
  }
}
.btn__skHxF:global(.__wab_instance) {
  position: relative;
}
.column5 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__htIim {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  margin-top: -293px;
}
.img__htIim > picture > img {
  object-fit: cover;
}
.img__htIim > .__wab_img-spacer > img {
  object-fit: cover;
}
@media (min-width: 0px) and (max-width: 768px) {
  .img__htIim {
    margin: 0px;
  }
}
.columns___22BJp {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Uy3IS1uls);
  min-width: 0;
  padding: 80px 40px;
}
.columns___22BJp > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns___22BJp > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22BJp {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns___22BJp > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__foc4B {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column__foc4B > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column__foc4B > :global(.__wab_flex-container) > *,
.column__foc4B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__foc4B > :global(.__wab_flex-container) > picture > img,
.column__foc4B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text__ypwWt {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 86px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__rSxR {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__rSxR {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
.btn__nhHb:global(.__wab_instance) {
  position: relative;
}
.column__ie1Kl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img___99Cjx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
}
.img___99Cjx > picture > img {
  object-fit: cover;
}
.img___99Cjx > .__wab_img-spacer > img {
  object-fit: cover;
}
.columns__mg6Uq {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  background: var(--token-Gd9vR8G21);
  min-width: 0;
  padding: 80px 40px;
}
.columns__mg6Uq > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__mg6Uq > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mg6Uq {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__mg6Uq > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__hlShc {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-end;
  min-width: 0;
  padding: 8px;
}
.img__elEDr {
  position: relative;
  object-fit: cover;
  max-width: 600px;
}
.img__elEDr > picture > img {
  object-fit: cover;
}
.img__elEDr > .__wab_img-spacer > img {
  object-fit: cover;
}
.column__lpb3J {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  padding: 8px;
}
.text__xkiKa {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 400px;
  min-width: 0;
}
.columns__vvglt {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 80px 40px;
}
.columns__vvglt > :nth-child(2n + 1) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
.columns__vvglt > :nth-child(2n + 2) {
  width: calc((100% - 2 * 0px) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vvglt {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__vvglt > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__sn9Kl {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: auto;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  min-width: 0;
  padding: 8px;
}
.img__z8ZqS {
  position: relative;
  object-fit: cover;
  max-width: 400px;
}
.img__z8ZqS > picture > img {
  object-fit: cover;
}
.img__z8ZqS > .__wab_img-spacer > img {
  object-fit: cover;
}
.column___9HpQq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.column___9HpQq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  min-width: 0;
  margin-top: calc(0px - 40px);
  height: calc(100% + 40px);
}
.column___9HpQq > :global(.__wab_flex-container) > *,
.column___9HpQq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___9HpQq > :global(.__wab_flex-container) > picture > img,
.column___9HpQq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 40px;
}
.text___0KV2D {
  font-weight: 900;
  font-family: "Inter", sans-serif;
  color: var(--token-tEyO5nrum);
  font-size: 40px;
  line-height: 48px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  padding-left: 0px;
  min-width: 0;
}
.text__vFujV {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .text__vFujV {
    font-size: 16px;
    line-height: 22px;
    text-align: center;
  }
}
.btn__nab2T:global(.__wab_instance) {
  position: relative;
}
.freeBox__amEs7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8Fa4aMist);
  min-width: 0;
  padding: 80px 40px;
}
.text__rRcrj {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 86px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1000px;
  text-align: center;
  min-width: 0;
}
.freeBox__wmaUi {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8Fa4aMist);
  min-width: 0;
  padding: 0px 40px;
}
.columns__pxT {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__pxT > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__pxT > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__pxT > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__pxT > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pxT {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__pxT > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__xOmVn {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.column__xOmVn > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__xOmVn > :global(.__wab_flex-container) > *,
.column__xOmVn > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__xOmVn > :global(.__wab_flex-container) > picture > img,
.column__xOmVn
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__lriGu {
  display: flex;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: linear-gradient(#efc4ce, #efc4ce), #44c0ff33;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__kqkXj {
  position: relative;
  object-fit: cover;
  max-width: 75%;
  left: auto;
  top: auto;
}
.img__kqkXj > picture > img {
  object-fit: cover;
}
.img__kqkXj > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___1UMxv {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__mlWf {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column___53Ax9 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column___53Ax9 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___53Ax9 > :global(.__wab_flex-container) > *,
.column___53Ax9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___53Ax9 > :global(.__wab_flex-container) > picture > img,
.column___53Ax9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__uiYg5 {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__frHbW {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__frHbW > picture > img {
  object-fit: cover;
}
.img__frHbW > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__vae5A {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__xvsWz {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__bfAfD {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column__bfAfD > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__bfAfD > :global(.__wab_flex-container) > *,
.column__bfAfD > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__bfAfD > :global(.__wab_flex-container) > picture > img,
.column__bfAfD
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__sl84N {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__uloY1 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__uloY1 > picture > img {
  object-fit: cover;
}
.img__uloY1 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__xhxB3 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__z8ORp {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__h9U31 {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column__h9U31 > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__h9U31 > :global(.__wab_flex-container) > *,
.column__h9U31 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__h9U31 > :global(.__wab_flex-container) > picture > img,
.column__h9U31
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__eyq3R {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img___2M1Iq {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img___2M1Iq > picture > img {
  object-fit: cover;
}
.img___2M1Iq > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__esqpf {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__lhpVv {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__fnEsm {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  min-width: 0;
  padding: 8px;
}
.freeBox__brqlc {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8Fa4aMist);
  min-width: 0;
  padding: 80px 40px;
}
.text__aNLl9 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 70px;
  line-height: 86px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 1000px;
  text-align: center;
  min-width: 0;
}
.freeBox___1ZZg1 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: var(--token-8Fa4aMist);
  min-width: 0;
  padding: 0px 40px;
}
.columns__aZyt2 {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: stretch;
  flex-shrink: 1;
  flex-direction: row;
  flex-wrap: nowrap;
  min-width: 0;
  padding: 8px;
}
.columns__aZyt2 > :nth-child(4n + 1) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__aZyt2 > :nth-child(4n + 2) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__aZyt2 > :nth-child(4n + 3) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
.columns__aZyt2 > :nth-child(4n + 4) {
  width: calc((100% - 4 * 0px) * 3 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aZyt2 {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__aZyt2 > :nth-child(1n + 1) {
    width: calc((100% - 1 * 0px) * 12 / 12);
  }
}
.column__rbxeT {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-right: 40px;
  padding-bottom: 0px;
  padding-top: 0px;
  min-width: 0;
}
.column__rbxeT > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__rbxeT > :global(.__wab_flex-container) > *,
.column__rbxeT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__rbxeT > :global(.__wab_flex-container) > picture > img,
.column__rbxeT
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__cot7B {
  display: flex;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: linear-gradient(#efc4ce, #efc4ce), #44c0ff33;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__pzSum {
  position: relative;
  object-fit: cover;
  max-width: 75%;
  left: auto;
  top: auto;
}
.img__pzSum > picture > img {
  object-fit: cover;
}
.img__pzSum > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__sJnv5 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text___6MMfQ {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column___4TjZv {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column___4TjZv > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___4TjZv > :global(.__wab_flex-container) > *,
.column___4TjZv > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___4TjZv > :global(.__wab_flex-container) > picture > img,
.column___4TjZv
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__nC7PI {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__eE38A {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__eE38A > picture > img {
  object-fit: cover;
}
.img__eE38A > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__mWy8C {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__fVSu {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column___5Id5C {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column___5Id5C > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column___5Id5C > :global(.__wab_flex-container) > *,
.column___5Id5C > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column___5Id5C > :global(.__wab_flex-container) > picture > img,
.column___5Id5C
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__aaNeG {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__hgh38 {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__hgh38 > picture > img {
  object-fit: cover;
}
.img__hgh38 > .__wab_img-spacer > img {
  object-fit: cover;
}
.text__xFomn {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text___778KI {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.column__b3MEq {
  flex-direction: column;
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 0px 40px;
}
.column__b3MEq > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 24px);
  height: calc(100% + 24px);
}
.column__b3MEq > :global(.__wab_flex-container) > *,
.column__b3MEq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.column__b3MEq > :global(.__wab_flex-container) > picture > img,
.column__b3MEq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 24px;
}
.freeBox__goNna {
  display: block;
  position: relative;
  width: 220px;
  height: 220px;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  flex-shrink: 0;
  border-radius: 40px;
  padding: 8px;
}
.img__tKc2V {
  position: absolute;
  object-fit: cover;
  max-width: 100%;
  left: 0px;
  top: 0px;
}
.img__tKc2V > picture > img {
  object-fit: cover;
}
.img__tKc2V > .__wab_img-spacer > img {
  object-fit: cover;
}
.text___1Xz2 {
  color: var(--token-tEyO5nrum);
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 26px;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.text__ctAw2 {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: var(--token-tEyO5nrum);
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__zdfCa {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  max-width: 100%;
  background: rgba(68, 192, 255, 0.2);
  min-width: 0;
  padding: 8px;
}
