@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C900&family=Roboto%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C700%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-G3bw5jr37: #ff482f;
  --plasmic-token-primary: var(--token-G3bw5jr37);
  --token-tEyO5nrum: #1d2124;
  --plasmic-token-dark: var(--token-tEyO5nrum);
  --token-RmFWU8DwY: #000000;
  --plasmic-token-black: var(--token-RmFWU8DwY);
  --token-Gd9vR8G21: #efffff;
  --plasmic-token-bg-1: var(--token-Gd9vR8G21);
  --token-Uy3IS1uls: #fffff2;
  --plasmic-token-bg-2: var(--token-Uy3IS1uls);
  --token-8Fa4aMist: #ffffff;
  --plasmic-token-bg-3: var(--token-8Fa4aMist);
}

@media (max-width: 2000px) {
  .plasmic_tokens {
    --token-Gd9vR8G21: #efffff;
    --plasmic-token-bg-1: var(--token-Gd9vR8G21);
    --token-Uy3IS1uls: #fffff2;
    --plasmic-token-bg-2: var(--token-Uy3IS1uls);
    --token-8Fa4aMist: #ffffff;
    --plasmic-token-bg-3: var(--token-8Fa4aMist);
  }
}

.plasmic_default_styles,
.plasmic_default_styles:where(.global_type_primary),
.plasmic_default_styles:where(.global_type_secondary),
.plasmic_default_styles:where(.global_type_tertiary) {
  --mixin-iTqRO0eTU-_font-family: "Inter";
  --mixin-iTqRO0eTU-_font-size: 16px;
  --mixin-iTqRO0eTU-_font-weight: 400;
  --mixin-iTqRO0eTU-_font-style: normal;
  --mixin-iTqRO0eTU-_color: #535353;
  --mixin-iTqRO0eTU-_text-align: left;
  --mixin-iTqRO0eTU-_text-transform: none;
  --mixin-iTqRO0eTU-_line-height: 1.5;
  --mixin-iTqRO0eTU-_letter-spacing: normal;
  --mixin-iTqRO0eTU-_white-space: pre-wrap;
  --mixin-iTqRO0eTU-_user-select: text;
  --mixin-iTqRO0eTU-_text-decoration-line: none;
  --mixin-iTqRO0eTU-_text-overflow: clip;
  --mixin-l4PNYJBvyE_color: #000000;
  --mixin-l4PNYJBvyE_font-weight: 900;
  --mixin-l4PNYJBvyE_font-size: 72px;
  --mixin-l4PNYJBvyE_line-height: 1;
  --mixin-l4PNYJBvyE_letter-spacing: -4px;
  --mixin-MWBWXAlWyR_font-family: "Inter";
  --mixin-MWBWXAlWyR_color: #000000;
  --mixin-MWBWXAlWyR_font-size: 48px;
  --mixin-MWBWXAlWyR_font-weight: 700;
  --mixin-MWBWXAlWyR_letter-spacing: -1px;
  --mixin-MWBWXAlWyR_line-height: 1.1;
  --mixin-FiqYExWUid_color: #0070f3;
  --mixin-najEUNeARG_font-family: "Inter";
  --mixin-najEUNeARG_color: #000000;
  --mixin-najEUNeARG_font-size: 32px;
  --mixin-najEUNeARG_font-weight: 600;
  --mixin-najEUNeARG_letter-spacing: -0.8px;
  --mixin-najEUNeARG_line-height: 1.2;
  --mixin-Y5Yh9EUzxt_font-family: "Inter";
  --mixin-Y5Yh9EUzxt_color: #000000;
  --mixin-Y5Yh9EUzxt_font-size: 24px;
  --mixin-Y5Yh9EUzxt_font-weight: 600;
  --mixin-Y5Yh9EUzxt_letter-spacing: -0.5px;
  --mixin-Y5Yh9EUzxt_line-height: 1.3;
  --mixin-6U_o5WT5tr_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-6U_o5WT5tr_border-bottom-color: #dddddd;
  --mixin-6U_o5WT5tr_border-bottom-style: solid;
  --mixin-6U_o5WT5tr_border-bottom-width: 1px;
  --mixin-6U_o5WT5tr_border-left-color: #dddddd;
  --mixin-6U_o5WT5tr_border-left-style: solid;
  --mixin-6U_o5WT5tr_border-left-width: 1px;
  --mixin-6U_o5WT5tr_border-right-color: #dddddd;
  --mixin-6U_o5WT5tr_border-right-style: solid;
  --mixin-6U_o5WT5tr_border-right-width: 1px;
  --mixin-6U_o5WT5tr_border-top-color: #dddddd;
  --mixin-6U_o5WT5tr_border-top-style: solid;
  --mixin-6U_o5WT5tr_border-top-width: 1px;
  --mixin-6U_o5WT5tr_border-bottom-left-radius: 3px;
  --mixin-6U_o5WT5tr_border-bottom-right-radius: 3px;
  --mixin-6U_o5WT5tr_border-top-left-radius: 3px;
  --mixin-6U_o5WT5tr_border-top-right-radius: 3px;
  --mixin-6U_o5WT5tr_font-family: "Inconsolata";
  --mixin-6U_o5WT5tr_padding-bottom: 1px;
  --mixin-6U_o5WT5tr_padding-left: 4px;
  --mixin-6U_o5WT5tr_padding-right: 4px;
  --mixin-6U_o5WT5tr_padding-top: 1px;
  --mixin-t_OksQtfxVb_border-left-color: #dddddd;
  --mixin-t_OksQtfxVb_border-left-style: solid;
  --mixin-t_OksQtfxVb_border-left-width: 3px;
  --mixin-t_OksQtfxVb_color: #888888;
  --mixin-t_OksQtfxVb_padding-left: 10px;
  --mixin-zzeiLK_QsGD_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-zzeiLK_QsGD_border-bottom-color: #dddddd;
  --mixin-zzeiLK_QsGD_border-bottom-style: solid;
  --mixin-zzeiLK_QsGD_border-bottom-width: 1px;
  --mixin-zzeiLK_QsGD_border-left-color: #dddddd;
  --mixin-zzeiLK_QsGD_border-left-style: solid;
  --mixin-zzeiLK_QsGD_border-left-width: 1px;
  --mixin-zzeiLK_QsGD_border-right-color: #dddddd;
  --mixin-zzeiLK_QsGD_border-right-style: solid;
  --mixin-zzeiLK_QsGD_border-right-width: 1px;
  --mixin-zzeiLK_QsGD_border-top-color: #dddddd;
  --mixin-zzeiLK_QsGD_border-top-style: solid;
  --mixin-zzeiLK_QsGD_border-top-width: 1px;
  --mixin-zzeiLK_QsGD_border-bottom-left-radius: 3px;
  --mixin-zzeiLK_QsGD_border-bottom-right-radius: 3px;
  --mixin-zzeiLK_QsGD_border-top-left-radius: 3px;
  --mixin-zzeiLK_QsGD_border-top-right-radius: 3px;
  --mixin-zzeiLK_QsGD_font-family: "Inconsolata";
  --mixin-zzeiLK_QsGD_padding-bottom: 3px;
  --mixin-zzeiLK_QsGD_padding-left: 6px;
  --mixin-zzeiLK_QsGD_padding-right: 6px;
  --mixin-zzeiLK_QsGD_padding-top: 3px;
  --mixin-rFyBrceRRB8_display: flex;
  --mixin-rFyBrceRRB8_flex-direction: column;
  --mixin-rFyBrceRRB8_align-items: stretch;
  --mixin-rFyBrceRRB8_justify-content: flex-start;
  --mixin-rFyBrceRRB8_list-style-position: outside;
  --mixin-rFyBrceRRB8_padding-left: 40px;
  --mixin-rFyBrceRRB8_position: relative;
  --mixin-rFyBrceRRB8_list-style-type: disc;
  --mixin-ZuOuixxmuPg_display: flex;
  --mixin-ZuOuixxmuPg_flex-direction: column;
  --mixin-ZuOuixxmuPg_align-items: stretch;
  --mixin-ZuOuixxmuPg_justify-content: flex-start;
  --mixin-ZuOuixxmuPg_list-style-position: outside;
  --mixin-ZuOuixxmuPg_padding-left: 40px;
  --mixin-ZuOuixxmuPg_position: relative;
  --mixin-ZuOuixxmuPg_list-style-type: decimal;
  --mixin-rYreBtFL4VZ_font-family: "Inter";
  --mixin-rYreBtFL4VZ_color: #000000;
  --mixin-rYreBtFL4VZ_font-size: 20px;
  --mixin-rYreBtFL4VZ_font-weight: 600;
  --mixin-rYreBtFL4VZ_letter-spacing: -0.3px;
  --mixin-rYreBtFL4VZ_line-height: 1.5;
  --mixin-NLpLoMISKdP_font-family: "Inter";
  --mixin-NLpLoMISKdP_color: #000000;
  --mixin-NLpLoMISKdP_font-size: 16px;
  --mixin-NLpLoMISKdP_font-weight: 600;
  --mixin-NLpLoMISKdP_line-height: 1.5;
  --mixin-NpDTiyYPRSE_color: #3291ff;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.img) {
  display: inline-block;
}
:where(.li) {
  display: list-item;
}
:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.address) {
  font-style: inherit;
}
:where(.a) {
  color: inherit;
}
:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.select) {
  padding: 2px 6px;
}
.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.root_reset {
  font-family: var(--mixin-iTqRO0eTU-_font-family);
  font-size: var(--mixin-iTqRO0eTU-_font-size);
  font-weight: var(--mixin-iTqRO0eTU-_font-weight);
  font-style: var(--mixin-iTqRO0eTU-_font-style);
  color: var(--mixin-iTqRO0eTU-_color);
  text-align: var(--mixin-iTqRO0eTU-_text-align);
  text-transform: var(--mixin-iTqRO0eTU-_text-transform);
  line-height: var(--mixin-iTqRO0eTU-_line-height);
  letter-spacing: var(--mixin-iTqRO0eTU-_letter-spacing);
  white-space: var(--mixin-iTqRO0eTU-_white-space);
}

:where(.root_reset .plasmic_default__h1),
:where(.root_reset .h1),
:where(.root_reset.plasmic_default__h1) {
  color: var(--mixin-l4PNYJBvyE_color);
  font-weight: var(--mixin-l4PNYJBvyE_font-weight);
  font-size: var(--mixin-l4PNYJBvyE_font-size);
  line-height: var(--mixin-l4PNYJBvyE_line-height);
  letter-spacing: var(--mixin-l4PNYJBvyE_letter-spacing);
}

:where(.root_reset .plasmic_default__h2),
:where(.root_reset .h2),
:where(.root_reset.plasmic_default__h2) {
  font-family: var(--mixin-MWBWXAlWyR_font-family);
  color: var(--mixin-MWBWXAlWyR_color);
  font-size: var(--mixin-MWBWXAlWyR_font-size);
  font-weight: var(--mixin-MWBWXAlWyR_font-weight);
  letter-spacing: var(--mixin-MWBWXAlWyR_letter-spacing);
  line-height: var(--mixin-MWBWXAlWyR_line-height);
}

:where(.root_reset .plasmic_default__a),
:where(.root_reset .a),
:where(.root_reset.plasmic_default__a) {
  color: var(--mixin-FiqYExWUid_color);
}

:where(.root_reset .plasmic_default__h3),
:where(.root_reset .h3),
:where(.root_reset.plasmic_default__h3) {
  font-family: var(--mixin-najEUNeARG_font-family);
  color: var(--mixin-najEUNeARG_color);
  font-size: var(--mixin-najEUNeARG_font-size);
  font-weight: var(--mixin-najEUNeARG_font-weight);
  letter-spacing: var(--mixin-najEUNeARG_letter-spacing);
  line-height: var(--mixin-najEUNeARG_line-height);
}

:where(.root_reset .plasmic_default__h4),
:where(.root_reset .h4),
:where(.root_reset.plasmic_default__h4) {
  font-family: var(--mixin-Y5Yh9EUzxt_font-family);
  color: var(--mixin-Y5Yh9EUzxt_color);
  font-size: var(--mixin-Y5Yh9EUzxt_font-size);
  font-weight: var(--mixin-Y5Yh9EUzxt_font-weight);
  letter-spacing: var(--mixin-Y5Yh9EUzxt_letter-spacing);
  line-height: var(--mixin-Y5Yh9EUzxt_line-height);
}

:where(.root_reset .plasmic_default__code),
:where(.root_reset .code),
:where(.root_reset.plasmic_default__code) {
  background: var(--mixin-6U_o5WT5tr_background);
  font-family: var(--mixin-6U_o5WT5tr_font-family);
  border-radius: var(--mixin-6U_o5WT5tr_border-top-left-radius)
    var(--mixin-6U_o5WT5tr_border-top-right-radius)
    var(--mixin-6U_o5WT5tr_border-bottom-right-radius)
    var(--mixin-6U_o5WT5tr_border-bottom-left-radius);
  padding: var(--mixin-6U_o5WT5tr_padding-top)
    var(--mixin-6U_o5WT5tr_padding-right) var(--mixin-6U_o5WT5tr_padding-bottom)
    var(--mixin-6U_o5WT5tr_padding-left);
  border-top: var(--mixin-6U_o5WT5tr_border-top-width)
    var(--mixin-6U_o5WT5tr_border-top-style)
    var(--mixin-6U_o5WT5tr_border-top-color);
  border-right: var(--mixin-6U_o5WT5tr_border-right-width)
    var(--mixin-6U_o5WT5tr_border-right-style)
    var(--mixin-6U_o5WT5tr_border-right-color);
  border-bottom: var(--mixin-6U_o5WT5tr_border-bottom-width)
    var(--mixin-6U_o5WT5tr_border-bottom-style)
    var(--mixin-6U_o5WT5tr_border-bottom-color);
  border-left: var(--mixin-6U_o5WT5tr_border-left-width)
    var(--mixin-6U_o5WT5tr_border-left-style)
    var(--mixin-6U_o5WT5tr_border-left-color);
}

:where(.root_reset .plasmic_default__blockquote),
:where(.root_reset .blockquote),
:where(.root_reset.plasmic_default__blockquote) {
  color: var(--mixin-t_OksQtfxVb_color);
  padding-left: var(--mixin-t_OksQtfxVb_padding-left);
  border-left: var(--mixin-t_OksQtfxVb_border-left-width)
    var(--mixin-t_OksQtfxVb_border-left-style)
    var(--mixin-t_OksQtfxVb_border-left-color);
}

:where(.root_reset .plasmic_default__pre),
:where(.root_reset .pre),
:where(.root_reset.plasmic_default__pre) {
  background: var(--mixin-zzeiLK_QsGD_background);
  font-family: var(--mixin-zzeiLK_QsGD_font-family);
  border-radius: var(--mixin-zzeiLK_QsGD_border-top-left-radius)
    var(--mixin-zzeiLK_QsGD_border-top-right-radius)
    var(--mixin-zzeiLK_QsGD_border-bottom-right-radius)
    var(--mixin-zzeiLK_QsGD_border-bottom-left-radius);
  padding: var(--mixin-zzeiLK_QsGD_padding-top)
    var(--mixin-zzeiLK_QsGD_padding-right)
    var(--mixin-zzeiLK_QsGD_padding-bottom)
    var(--mixin-zzeiLK_QsGD_padding-left);
  border-top: var(--mixin-zzeiLK_QsGD_border-top-width)
    var(--mixin-zzeiLK_QsGD_border-top-style)
    var(--mixin-zzeiLK_QsGD_border-top-color);
  border-right: var(--mixin-zzeiLK_QsGD_border-right-width)
    var(--mixin-zzeiLK_QsGD_border-right-style)
    var(--mixin-zzeiLK_QsGD_border-right-color);
  border-bottom: var(--mixin-zzeiLK_QsGD_border-bottom-width)
    var(--mixin-zzeiLK_QsGD_border-bottom-style)
    var(--mixin-zzeiLK_QsGD_border-bottom-color);
  border-left: var(--mixin-zzeiLK_QsGD_border-left-width)
    var(--mixin-zzeiLK_QsGD_border-left-style)
    var(--mixin-zzeiLK_QsGD_border-left-color);
}

:where(.root_reset .plasmic_default__ul),
:where(.root_reset .ul),
:where(.root_reset.plasmic_default__ul) {
  display: var(--mixin-rFyBrceRRB8_display);
  flex-direction: var(--mixin-rFyBrceRRB8_flex-direction);
  align-items: var(--mixin-rFyBrceRRB8_align-items);
  justify-content: var(--mixin-rFyBrceRRB8_justify-content);
  list-style-position: var(--mixin-rFyBrceRRB8_list-style-position);
  padding-left: var(--mixin-rFyBrceRRB8_padding-left);
  position: var(--mixin-rFyBrceRRB8_position);
  list-style-type: var(--mixin-rFyBrceRRB8_list-style-type);
  flex-column-gap: var(--mixin-rFyBrceRRB8_flex-column-gap);
}

:where(.root_reset .plasmic_default__ol),
:where(.root_reset .ol),
:where(.root_reset.plasmic_default__ol) {
  display: var(--mixin-ZuOuixxmuPg_display);
  flex-direction: var(--mixin-ZuOuixxmuPg_flex-direction);
  align-items: var(--mixin-ZuOuixxmuPg_align-items);
  justify-content: var(--mixin-ZuOuixxmuPg_justify-content);
  list-style-position: var(--mixin-ZuOuixxmuPg_list-style-position);
  padding-left: var(--mixin-ZuOuixxmuPg_padding-left);
  position: var(--mixin-ZuOuixxmuPg_position);
  list-style-type: var(--mixin-ZuOuixxmuPg_list-style-type);
  flex-column-gap: var(--mixin-ZuOuixxmuPg_flex-column-gap);
}

:where(.root_reset .plasmic_default__h5),
:where(.root_reset .h5),
:where(.root_reset.plasmic_default__h5) {
  font-family: var(--mixin-rYreBtFL4VZ_font-family);
  color: var(--mixin-rYreBtFL4VZ_color);
  font-size: var(--mixin-rYreBtFL4VZ_font-size);
  font-weight: var(--mixin-rYreBtFL4VZ_font-weight);
  letter-spacing: var(--mixin-rYreBtFL4VZ_letter-spacing);
  line-height: var(--mixin-rYreBtFL4VZ_line-height);
}

:where(.root_reset .plasmic_default__h6),
:where(.root_reset .h6),
:where(.root_reset.plasmic_default__h6) {
  font-family: var(--mixin-NLpLoMISKdP_font-family);
  color: var(--mixin-NLpLoMISKdP_color);
  font-size: var(--mixin-NLpLoMISKdP_font-size);
  font-weight: var(--mixin-NLpLoMISKdP_font-weight);
  line-height: var(--mixin-NLpLoMISKdP_line-height);
}

:where(.root_reset .plasmic_default__a:hover),
:where(.root_reset .a:hover),
:where(.root_reset.plasmic_default__a:hover) {
  color: var(--mixin-NpDTiyYPRSE_color);
}
